.App {
  text-align: center;
  background-color: whitesmoke;
  padding: 100px;
}







@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container{
  width: 50%;
  
}
.bigContainer{
  
 
  justify-content: center;
  padding-left: 400px;
  padding-right: 400px;
  padding-top: 100px;
  
}